<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damai.system.dao.ISysRoleDao">
	<resultMap id="BaseResultMap" type="com.damai.system.entity.SysRole">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="roleName" jdbcType="VARCHAR" property="rolename" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
		<result column="operatingUser" jdbcType="VARCHAR" property="operatinguser" />
	</resultMap>
	<sql id="Base_Column_List">
		id, roleName, remark, createTime, updateTime, operatingUser
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from s_role
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from s_role
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.damai.system.entity.SysRole">
		insert into s_role (id, roleName, remark,
		createTime, updateTime, operatingUser
		)
		values (#{id,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{operatinguser,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.damai.system.entity.SysRole">
		insert into s_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="rolename != null">
				roleName,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="updatetime != null">
				updateTime,
			</if>
			<if test="operatinguser != null">
				operatingUser,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="rolename != null">
				#{rolename,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="operatinguser != null">
				#{operatinguser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.damai.system.entity.SysRole">
		update s_role
		<set>
			<if test="rolename != null">
				roleName = #{rolename,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				updateTime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="operatinguser != null">
				operatingUser = #{operatinguser,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.damai.system.entity.SysRole">
		update s_role
		set roleName = #{rolename,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		updateTime = #{updatetime,jdbcType=TIMESTAMP},
		operatingUser = #{operatinguser,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>